.board-nav, .button {
    border: 1px solid var(--border);
    user-select: none;
    cursor: pointer;
    display: inline-block;
}


.w-100 {
    width: 100%;
}

.thread-form-wrap {
    border: 1px solid var(--border);
    padding: 5px;
}

.thread-form-wrap textarea {
    resize: none;
}

.thread-body {
    padding: 5px;
    border: 1px solid var(--border);
    background-color: var(--bg-depth-1);
    transition: 0.5s all;
}

.thread-body .thread-content{
}

.thread-body img {
    max-height: 150px;
    border-radius: 5px;
    border: 1px solid var(--border);
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}

.img-wrap {
    width: max-content;
    display: inline-block;
    max-width: 50%;
}

.board-title {
    font-size: 2rem;
}

a:hover {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border);
    background-color: var(--bg-glass);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 9001;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid var(--border);
    background-color: var(--bg-glass);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 9001;
}

.view-body {
    position: relative;
    height: calc(100vh - 29px - 29px);
    overflow-y: scroll;
    padding-top: 29px;
    padding-bottom: 29px;
}

.mention:not(.reference) {
	font-size: 12px;
}

.mention {
    color: var(--text-faded);
    text-decoration: dashed;
    padding: 3px;
    border-radius: 3px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    cursor: pointer;
    display: inline-block;
}

.thread-body.highlight {
    background-color: var(--bg-depth-2);
}

.text-faded {
    color: var(--text-faded)
}


.popup {
    position: fixed;
    height: calc(100vh - 58px - 58px);
    left: 25vw;
    top: 58px;
    width: 50vw;
    background-color: var(--bg-glass-depth-1);
    border: 1px solid var(--border);
    z-index: 9001;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.popup-wrap {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

.toolbar {
    position: absolute;
    bottom: 40px;
    right: calc(1.5rem * 0.5);
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 16.66666667%;
    background-color: var(--bg-glass);
}

.toolbar .title {
    background-color:var(--bg-depth-2);
    border-bottom: 1px solid var(--border);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.toolbar .content {
    padding: 5px;
}

.icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}