.board-nav {
    border: 1px solid var(--border);
    user-select: none;
    cursor: pointer;
}


.w-100 {
    width: 100%;
}

.thread-form-wrap {
    border: 1px solid var(--border);
    padding: 5px;
}

.thread-form-wrap textarea {
    resize: none;
}

.thread-body {
    padding: 5px;
    border: 1px solid var(--border);
    background-color: var(--bg-depth-1);
    transition: 0.5s all;
}

.thread-body .thread-content{
}

.thread-body img {
    max-height: 150px;
    border-radius: 5px;
    border: 1px solid var(--border);
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}

.img-wrap {
    width: max-content;
    display: inline-block;
    max-width: 50%;
}

.board-title {
    font-size: 2rem;
}

a:hover {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border);
    background-color: var(--bg-glass);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 9001;
}

.view-body {
    position: relative;
    height: calc(100vh - 29px);
    overflow-y: scroll;
    padding-top: 29px;
}

.mention:not(.reference) {
	font-size: 12px;
}

.mention {
    color: var(--text-faded);
    text-decoration: dashed;
    padding: 3px;
    border-radius: 3px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    cursor: pointer;
    display: inline-block;
}

.thread-body.highlight {
    background-color: var(--bg-depth-2);
}
